import os
from huggingface_hub import InferenceClient

def generate_image(prompt: str, model: str):
    client = InferenceClient(
        provider="auto",
        api_key=os.getenv("UNITYSVC_API_KEY"),
    )

    image = client.text_to_image(prompt=prompt, model=model)
    image.save("outputfc.png")
    return {"status": "success", "file": "output.png"}

# Simulated “function call”
result = generate_image(
    prompt="A futuristic city at sunrise, ultra detailed",
    model="{{offering.name}}"
)

print("Function call completed:", result)
