curl -X POST \
  -H "Authorization: Bearer $UNITYSVC_API_KEY" \
  -H "Content-Type: application/json" \
  ${SERVICE_BASE_URL}/models/{{offering.name}} \
  -d '{
    "inputs": "I want to build a powerful computer system."
  }'
