import os
import requests

UNITYSVC_API_KEY = os.getenv("UNITYSVC_API_KEY")

response = requests.post(
    f"{os.getenv('SERVICE_BASE_URL')}/chat/completions",
    headers={"Authorization": f"Bearer {UNITYSVC_API_KEY}"},
    json={
        "model": os.environ.get("MODEL", "{{offering.name}}"),
        "messages": [
            {"role": "user", "content": "How many G's are in huggingface?"}
        ]
    },
)

print(response.json())
