import os
from huggingface_hub import InferenceClient

client = InferenceClient(
    provider="auto",
    api_key=os.getenv("UNITYSVC_API_KEY"),
)

image = client.text_to_image(
    prompt="Astronaut riding a horse",
    model="{{offering.name}}",
)

image.save("flux_output.png")

print("Image successfully generated and saved as output.png")